# 
# WARNING: this file must be kept bash friendly
# 
# 
# 
# [SCRIPT CONFIG]
output_directory="F:\temp"
# 
# 
# [GENERAL]
language="fr_FR"
timezone="Europe/Paris"
# 
# 
# [DATABASE]
db_name="UneBase"
# 
# 
# [ODOO]
odoo_host="odootest"
odoo_username="admin@somewhere.com"
odoo_password="aPassword"
odoo_port="443"
