# 
# WARNING: this file must be kept bash friendly
# 
# 
# 
# [SCRIPT CONFIG]
output_directory="F:\temp"
# 
# 
# [GENERAL]
language="fr_FR"
timezone="Europe/Paris"
# 
# 
# [DATABASE]
db_name="unittestv7"
# 
# 
# [ODOO]

odoo_host="127.0.0.1"
odoo_username="admin"
odoo_password="bonjour"
odoo_port="8079"