# 
# WARNING: this file must be kept bash friendly
# 
# 
# 
# [SCRIPT CONFIG]
output_directory="/tmp"
tools_directory="/home/odoo/addons/10.0/odootools"
# 
# 
# [GENERAL]
language="fr_FR"
timezone="Europe/Paris"
# 
# 
# [DATABASE]
db_name="unittests"
db_host="localhost"
# 
# 
# [ODOO]
odoo_host="127.0.0.1"
odoo_username="admin@dynalec.fr"
odoo_password="dynalec#2016"
odoo_port="8069"
odoo_config="/home/odoo/etc/odoo_test.conf"
addons_directory="/home/odoo/addons/10.0"
