# 
# WARNING: this file must be kept bash friendly
# 
# 
# 
# [SCRIPT CONFIG]
output_directory="F:\temp"
# 
# 
# [GENERAL]
language="fr_FR"
timezone="Europe/Paris"
# 
# 
# [DATABASE]
db_name="dynalec_test"
# 
# 
# [ODOO]
odoo_host="odootest.dynalec.fr"
odoo_username="admin@dynalec.fr"
odoo_password="dynalec#2016"
odoo_port="443"
