#
# WARNING: this file must be kept bash friendly
#
#
# [GENERAL]
language="fr_FR"
timezone="Europe/Paris"
addons_directory=/home/odoo/addons
#
#
# [DATABASE]
db_host=$DEFAULT_GATEWAY
db_name=$EVOSENS_DB_ODOO
db_username=odoo
db_password=odoo
#
#
# [ODOO]
odoopy_path="/usr/bin"
odoo_username="admin"
odoo_password="admin"
odoo_config=/etc/odoo/odoo.conf
odoo_host=odoo-srv
odoo_port=8069
modules_to_install="account crm contacts stock l10n_fr evosens_crm evosens_workplace"
